@import "neu.css";
@import "styleIndex.css";

/* --------------------Desktop Menu Appearance-------------------- */
.homeLi{

    background: var(--gradient-neu-conv-second-color);
    box-shadow: var(--home-dark);
}

.chartsLi{

    background: var(--gradient-neu-conc-third-color);
    box-shadow: var(--shadow-neu-down-third-color);

}

