@import "neu.css";

a:hover {
  text-decoration: none;
}

body {
  background-color: var(--main-background);
}

/* --------------------Neumorphism Effects-------------------- */
.neu {
  border-radius: 50px;
  background-color: var(--main-background);
  box-shadow: var(--shadow-neu-up-main-color);
  padding: 3px;
  margin: 25px;
  display: inline-block;
}

.neuSub {
  border-radius: 50px;
  background: var(--gradient-neu-conc-main-color);
  box-shadow: var(--shadow-neu-down-main-color);
  padding: 5px;
}

.neuConv {
  margin: 50px;
  border-radius: 50px;
  background: var(--main---gradient-neu-conv-main-color);
  /* box-shadow: var(--shadow-neu-up-main-color); */
  box-shadow: var(--shadow-neu-invert-main-color);
  padding: 5px;
  display: inline-block;
}

/* --------------------Main Tittle Appearance-------------------- */
.mainTitle {
  margin: 20px;
}

.text-mainTitle {
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Asap", sans-serif;
  font-weight: bolder;
}

[class^="text"] {
  padding: 0px 10px;
}


/* --------------------Second Tittle Appearance-------------------- */
.text-secondTitle {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  font-size: 37px;
}


/* --------------------Options Arragement-------------------- */
.options {
  padding-right: 50px;
  justify-content: space-evenly !important;
}

/* --------------------H3 Hyperlink Appearance-------------------- */
h3 > a {
  color: black;
  padding: 5px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}

/* --------------------Options Bottons Appearance-------------------- */
.text-confirmed > a:hover {
  color: var(--confirmed);
}
.text-recovered > a:hover {
  color: var(--recovered);
}
.text-deaths > a:hover {
  color: var(--deaths);
}

/* -------------------Data Display Appearance------------------- */
.data {
  font-family: "calculator";
  font-size: 50px;
  color: var(--third-backgorund);
  padding: 5px 20px;
  letter-spacing: 1px;
}
em {
  font-size: 25px;
}


/* --------------------Desktop Appearance-------------------- */
.ulMenu {
  position: fixed;
  top: 30%;
  right: 40px;
  list-style: none;
  padding-left: 0px;
  box-shadow: var(--shadow-neu-up-main-color);
  border-radius: 50px;
}

.homeLi {
  background: var(--gradient-neu-conc-third-color);
  box-shadow: var(--shadow-neu-down-third-color);
  border-radius: 50.5px 50.5px 0px 0px;
}

.chartsLi {
  background: var(--gradient-neu-conv-second-color);
  box-shadow: var(--charts-dark);
}

.newsLi {
  border-radius: 0px 0px 50px 50px;
  background: var(--gradient-neu-conv-second-color);
  box-shadow: var(--news-dark);
}

li {
  padding: 15px !important;
}

li > a {
  color: white;
  margin: 40px 10px;
}

li > a:hover {
  color: var(--hover-menus);
}

/* --------------------Mobile Menu Appearance-------------------- */
.neu-mobile {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  color: white;
  background: var(--gradient-neu-conv-second-color);
  padding: 10px;
  box-shadow: var(--shadow-neu-invert-second-color),
    var(--shadow-neu-up-main-color);
}

.mobile-container {
  padding: 10px;
  width: 95vw;
  border-radius: 25px;
  z-index: 1;
}

.mobile-opt {
  color: white;
}

.mobileLinks .row {
  margin-bottom: 10px;
}

.mobile-opt:hover {
  color: var(--hover-menus);
}

/* --------------------Loading Spinner Color-------------------- */
.spinner-grow {
  color: var(--third-backgorund);
}


/* --------------------Mobile Menu Animation-------------------- */
.fow {
  animation: fow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.back {
  animation: back;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


/* --------------------Error Tittle Appearance-------------------- */
.errorTitle{
  font-family: calculator;
  color: var(--third-backgorund);
  font-size:40px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .options {
    padding: 0px;
    flex-direction: column;
    display: inline-block;
  }
}
